.header-logo {
  font-family: var(--logo-font);
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header-logo__web {
  color: rgb(33, 150, 243);
}

.footer-logo {
  color: var(--primary-white-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
